


	

	</div>
	
	<div class="privacy ">
		<div class="container py-xl-4 py-lg-2">
			<!-- tittle heading -->
			<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
				<span>C</span>art
			</h3>
			<!-- //tittle heading -->
		





<!-- ----------------------------------------------------------Table for cart details------------------------------------------------------->




				<div class="table-responsive" >
					<table class="timetable_sub" >
						<thead >
							<tr>
								<th>Sl No</th>
								<th>Product Name</th>
								<th>Image</th>
								<th>Price</th>
								<th>Quantity</th>
								<th>Remove</th>
							</tr>
						</thead>
							<tbody>
								<% for(var i=0; i<products.length; i++) { %>
									<tr>
										
										<td style="border: 1px solid #000000;"> <%= i+1 %> </td>
										<td style="border: 1px solid #000000;"> <%= products[i].products[0].productName %> </td>
										<td style="border: 1px solid #000000;"> <img src="/images/<%= products[i].products[0].Image %>" style="width:75px ; height:50px;" alt=""></td>
										<td style="border: 1px solid #000000;"> <%= products[i].products[0].Price %>  </td>
										<td style="border: 1px solid #000000;"><button class="cart-item-count mr-3 btn btn-secondary" >-</button>     1     <button class="cart-item-count ml-3 btn btn-secondary" >+</button></td>
									   <td style="border: 1px solid #000000;"> <a href="/deleteProduct?id=<%= products[i]._id %>" class="btn btn-danger">Delete</a>  </td>
								    </tr>

									<% } %>
							</tbody>
							
							
						
					</table>
				</div>
			</div>
			
			<div style="height:300px">

			</div>

	<!-- footer -->
